@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>    
    As a user of this site your email may be used for contact and billing purposes. 
    We do not share your personal information with any third parties.
    
</p>
