@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>About</h2>

<p>Beta UiA er en linjeforening på UiA for datastudenter. Vi holder bedriftpresentasjoner og arrangerer eventer som <a href="">betaLAN.</a></p>
