@model EmailViewModel

@{
  Layout = "_EmailLayoutHtml";
  ViewContext.ViewData["EmailTitle"] = "Verify your BETA Account!";
}

<p>Click the button below to verify your account!</p>

@await Html.PartialAsync("_EmailButton", new EmailButtonViewModel("Verify Email", Model.ButtonLink))

<p>Betauia</p>
