@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>BetaLAN</h2>
<div align="justify">
    Eventen du har ventet på dette semesteret! Beta arrangerer betaLAN to ganger årlig, en gang per semester. 
    Hvert år har vi konkurranser med premier. Her er en liste med spill vi har brukt til konkurransene våre.
    <ul>
        <li>Counter-Strike: Global Offensive</li>
        <li>Super Smash</li>
        <li>Mario Kart</li>
        <li>Trackmania Nations Forever</li>
        <li>Space Pirate Trainer</li>
    </ul>
</div>
<div>
    Hvert år de siste to årene har vi fått låne HTC Viven av universitetet, som er åpen for alle som deltar på betaLAN.
    Om noen kan slå Jon (honnørmedlem) sin rekord vil det bli en premie til den personen. Det vil si den som får den 
    høyeste scoren hvis det er flere som slår rekorden.
</div>
